.nv1 {
  gap: 25px;
  margin-right: 30px;
}

.bks1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-bottom: 45px;
  margin-top: 30px;
}

.foto1 {
  width: 80%;
  height: 300px;
  position: relative;
  left: 30%;
  transform: translateX(-50%);
}

.k1 {
  display: inline-block;
  color: black;
  font-size: 35px;
  font-weight: bold;
  border-top: green solid 3px;
}

.k3 {
  color: #31353b;
  width: 60ch;
}

.bks2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-bottom: 45px;
}

.foto2 {
  width: 50%;
  height: 400px;
  position: relative;
  left: 40%;
  transform: translateX(-50%);
}

.k11 {
  display: inline-block;
  color: black;
  font-size: 35px;
  font-weight: bold;
  border-top: green solid 3px;
}

.k13 {
  color: #31353b;
}

.k11,
.k13 {
  position: relative;
  left: 20%;
}
